/* You can add global styles to this file, and also import other style files */

// clear: #5789ff

:root {
  --dark-blue-color: #0f2052;
  --light-blue-color: #5789ff;
}
body {
  background-color: var(--dark-blue-color);
  color: var(--dark-blue-color);
}

html,
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mr-full-width {
  width: 100%;
}

.mr-button {
  background-color: var(--light-blue-color) !important;
  color: white !important;

  &.disabled {
    background-color: grey !important;
  }
}
